__pycache__/
.DS_Store
results/
datasets/marmousi3d
datasets/netherlandsF3
datasets/gom
/datasets/viking/
.idea/
*.pdf
*.sh
main_rnn.py
prepare_marmousi3d.ipynb
pocs/
antialiasing_f3.ipynb
antialiasing_viking.ipynb
datasets/hyperbolic3d/wavelet.npy
datasets/hyperbolic3d/wavelet_spectrum.npy
datasets/lines/original.npy
datasets/lines/random50.npy
datasets/lines/regular50.npy
datasets/lines/regular66.npy
datasets/lines/sinusoids.npy
gom.ipynb
seismic_inversion_1D.ipynb
seismic_inversion_2D.ipynb
weak hyperbolic events.ipynb
/dataset_marmousi3d.ipynb
/dataset_planewaves.ipynb
